In [ ]:
# Uncomment and run this cell if Pandas library is not already installed

# ! pip install --upgrade pip

# ! pip install pandas

In [1]:
# import library

import pandas as pd

In [2]:
# define CloudFront domain name (to access S3) and data

cloudfront = 'https://d3cu2src083cxg.cloudfront.net'
data_key = 'rfmo_query_result.csv'

data_location = '{}/{}'.format(cloudfront, data_key)

In [3]:
# df_rfmo = pd.read_csv(data_location) # if all the columns need to be loaded

# load select columns
df_rfmo = pd.read_csv(data_location, 
                      usecols = ['year', 'name_rfmo', 'name_comm_group', 'name_fishing_entity', 'name_sector_type', 'catch_sum', 'real_value'])

# rename columns as needed
df_rfmo.rename(columns = {"name_rfmo": "rfmo", "name_comm_group": "commercial_group", "name_fishing_entity": "fishing_entity", "name_sector_type": "sector_type"}, 
               inplace = True)

# print shape (rows, columns) of dataframe
df_rfmo.shape

(1027995, 7)

In [4]:
# sample data

df_rfmo.head(3)

,rfmo,year,commercial_group,fishing_entity,sector_type,catch_sum,real_value
0,NEAFC,1950,Other fishes & inverts,Belgium,Industrial,1082.915358,1.587554e+06
1,NEAFC,1950,Other fishes & inverts,Belgium,Industrial,112.044683,1.642575e+05
2,NEAFC,1950,Other fishes & inverts,Belgium,Industrial,1937.004283,2.839648e+06

In [5]:
# dataframe information

df_rfmo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027995 entries, 0 to 1027994
Data columns (total 7 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   rfmo              1027995 non-null  object
 1   year              1027995 non-null  int64
 2   commercial_group  1027995 non-null  object
 3   fishing_entity    1027995 non-null  object
 4   sector_type       1027995 non-null  object
 5   catch_sum         1027995 non-null  float64
 6   real_value        1027995 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.9+ MB

## Data Analysis example

### Mean catch sum and real value in Iceland by year (after 2010)

In [6]:

df_rfmo[(df_rfmo['year'] > 2010) & (df_rfmo['fishing_entity'] == 'Iceland')].groupby('year', as_index = False).agg({'catch_sum':'mean', 'real_value':'mean'}).round(2)

   year  catch_sum    real_value
0  2011    1138.40  1.172804e+08
1  2012    1357.82  2.524238e+08
2  2013    1297.89  2.108246e+08
3  2014    1033.93  1.146456e+08
4  2015    1579.63  2.522778e+08
5  2016    1232.25  1.652062e+08

> Refer to data analysis notebook for further examples